body {
  background-color: var(--bg-color);
  max-width: 100vw;
  overflow-x: clip;
}

.main-content {
  align-self: center;
}

.top-nav {
  padding: 1rem 5rem;
  box-shadow: 0 0 1px 1px var(--font-color);
  background-color: var(--bg-color);
  top: 0;
}

.top-nav a {
  text-wrap: nowrap;
}
.bottom-nav {
  display: none;
}
.bottom-nav a {
  text-decoration: none;
}
.bottom-nav .nf {
  font-size: 1.5rem;
}

@media only screen and (max-width: 900px) {
  .top-nav {
    display: none;
  }
  .bottom-nav {
    background-color: var(--bg-color);
    display: flex;
    padding-block: 1rem;
    padding-inline: 2rem;
    box-shadow: 0 0 1px 1px var(--font-color);
    bottom: 0;
  }
}

.loading {
  height: 0.25rem;
  width: 100vw;
  background-color: var(--font-color);
  position: fixed;
}

.loading__desktop {
  top: 0;
}

.loading__mobile {
  top: 0;
  left: 0;
}
