:root {
  --border-radius-extra-small: 0.5rem;
  --border-radius-small: 1rem;
}
.height-max {
  min-height: 100svh;
}

.height-100 {
  height: 100%;
}

.width-max {
  min-width: 100vw;
}

.width-100 {
  width: 100%;
}

.padding-block-s {
  padding-block: 2rem;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.gap-xs {
  gap: 0.5rem;
}

.gap-s {
  gap: 1rem;
}

.gap-m {
  gap: 2rem;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.justify-center {
  justify-content: center;
  justify-items: center;
}

.justify-start {
  justify-content: start;
  justify-items: start;
}

.justify-end {
  justify-content: end;
  justify-items: end;
}

.grid {
  display: grid;
}

.grid-center {
  display: grid;
  align-items: center;
  justify-items: center;
}

.input {
  background-color: transparent;
  border: solid 1px var(--font-color);
  border-radius: var(--border-radius-extra-small);
  padding: 0.5rem 0.75rem;
}

.btn {
  font-weight: 700;
  transition: 0.2s;
}

.btn:hover,
.btn:focus {
  background-color: var(--font-color);
  color: var(--font-color-inverse);
}

.btn-danger {
  background-color: red;
  color: white;
  border: none;
  font-weight: 700;
  transition: 0.2s;
}

.btn-danger:hover,
.btn-danger:focus {
  box-shadow: 0 0 5px 1px red;
}

.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator {
  display: inline;
  animation: pulse 2s infinite;
}
.htmx-request.htmx-indicator {
  display: inline;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
